@model our_site_asp_net.Models.EmployeProfile;


<h1>Create new Employee</h1>  
 
<form  action="Add" method="POST" enctype='multipart/form-data'>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input asp-for="employeName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="name">
    <div id="employee-name" class="form-text">Employee name</div>
  </div>
  <!-- upload img -->
    <label asp-for="EmployePhoto"></label> 
    <input asp-for="EmployePhoto" id="file" style="width: 100%;" /> 
<!-- upload img -->
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Position</label>
    <input asp-for="position" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="name">
    <div id="employe-position" class="form-text">Employe position</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Schwerpunkte</label>
    <input asp-for="schwerpunkte" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="name">
    <div id="employe-schwerpunkte" class="form-text">Employe Schwerpunkte</div>
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ask me anything</label>
    <input asp-for="askMyanyThing" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="name">
    <div id="question" class="form-text">Ask me anything</div>
  </div>
    <button type="submit" value="Upload" class="btn btn-primary">Add</button>
   
</form>