@model List<our_site_asp_net.Models.EmployeProfile>

    <h1 style="text-align: center;">Team</h1>

    <!-- Searchbox-->
    <div class="search-box" style="text-align: center;">
        <form method="get" asp-action="Index">
        <p>
            <input type="search" class="form-control" placeholder="Search Employee.." value="@ViewData["Getemployeedetails"]" name="empsearch" style="width: 500px; display: inline-block;"/>
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index">Get all Employees</a>
        </p>
        <br/>
    </form>
    </div>
    
    
    <div class="container text-center">
  <div class="row">
      @foreach(var employe in Model)
        {
    <div class="col mb-5">
     <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="@employe.photoUrl" alt="Card image cap">

  <div class="card-body">
    <h5 class="card-title">@employe.employeName</h5>
    <h5 class="card-text">@employe.position</h5>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="employee/view/@employe.id">Edit</a>    
                        }
                    
  </div>
</div>
    </div>
    }
</div>
</div>
