@{
    ViewData["Title"] = "Home Page";
}

<p>&nbsp;</p>
<div>
<h1 class="width-75 fix-padding-left" style="text-align: left;">Wenn Ihre Ideen auf unsere Erfahrung treffen, entsteht digitale Transformation.</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="mailto:info@mathema.de" class="fix-padding-left"><img src="images/icons/arrow-right-red.svg" alt="kontakt" width="25" height="25" class="text-red" /> Kontaktieren Sie uns!</a></p>
</div>
<div>&nbsp;</div>
<div>{loadmoduleid 94}</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="sppb-column-addons">
<h2 style="text-align: center;">Was wir leisten</h2>
<div class="horisontally-center block-center width-75" style="text-align: center;">Wir konzipieren und realisieren digitale Lösungen und helfen Ihnen dabei, alles aus Ihren Ideen herauszuholen. Egal ob im Bereich Enterprise Software, App-Entwicklung, Embedded Systems, Design oder Data Science – wir haben daaaaaaaaaaaas Wissen für Ihren Projekterfolg.</div>
</div>
<p>&nbsp;</p>
<table border="0" class="working-process table adaptive internal-borders fixed-size" style="width: 99%; margin-left: auto; margin-right: auto;" cellpadding="20">
<tbody>
<tr>
<td><span class="red-text expanded-text text-red">ANALYSE UND KONZEPTION</span>
<h3>Wir schaffen die Grundlage für ein erfolgreiches Projekt – klassisch oder agil.</h3>
</td>
<td><span class="red-text expanded-text text-red">ENTWICKLUNG</span>
<h3>Wir führen Wissen und Erfahrung zusammen, um Ihre Idee umzusetzen.</h3>
</td>
<td><span class="red-text expanded-text text-red">QUALITÄTSSICHERUNG</span>
<h3>Wir sichern Qualität während des gesamten Entwicklungsprozesses.</h3>
</td>
</tr>
<tr>
<td><span class="expanded-text red-text text-red">PROJEKTFÜHRUNG</span>
<h3>Wir schaffen einen Rahmen, in dem vielseitige Teams Ihr Projekt erfolgreich umsetzen.</h3>
</td>
<td><span class="expanded-text red-text text-red">TECHNOLOGIEBERATUNG</span>
<h3>Wir finden das passende Werkzeug für jede Aufgabe.</h3>
</td>
<td><span class="expanded-text red-text text-red">TRAINING &amp; COACHING</span>
<h3>Wir geben weiter, was wir in über zwanzig Jahren gelernt haben.</h3>
</td>
</tr>
</tbody>
</table>
<h2>&nbsp;</h2>
<h2 style="text-align: center;">Unsere Kunden</h2>
<div class="width-85 block-center">
<p>&nbsp;</p>
<table class="adaptive m-rotator full-width" style="width: 100%; margin-left: auto; margin-right: auto;">
<tbody class="back-dark">
<tr>
<td class="standard-padding">
<blockquote>
<p style="text-align: center;"><em><span style="color: #ffffff;">„Wir schätzen MATHEMA als zuverlässigen und beständigen Partner, der uns vor allem in zwei Bereichen unterstützt: Zum einen bei der Skalierung unserer eigenen Teams durch externe, hervorragend qualifizierte Software-Entwickler. Zum anderen durch kompetente Unterstützung und Know-how in allen Aspekten des gesamten Software-Entwicklungsprozesses.”</span></em></p>
</blockquote>
<div>
<p class="expanded-text grey-text text-grey text-small" style="text-align: center;"><span style="color: #ffffff;">DANI MOHR</span><span class="text-red" style="color: #ffffff;"><br />OLYMPIA VERLAG GMBH<br /><br /></span></p>
</div>
</td>
</tr>
<tr>
<td class="standard-padding">
<blockquote>
<p style="text-align: center;"><span style="color: #ffffff;"><em>"Dank der&nbsp;unkomplizierten&nbsp;Umsetzung konnte innerhalb kürzester Zeit eine Anwendung&nbsp;eingesetzt werden, welche die Einsatzplanung deutlich beschleunigt hat.&nbsp;Das Tool ersetzt eine aufwendige Kommunikation und führt sehr schnell zu dem gewünschten Ergebnis.&nbsp;</em></span><em><span style="color: #ffffff;">Wir können uns eine Einsatzplanung ohne diese Software nicht mehr vorstellen, sie ist nahezu essenziell geworden für uns und wir bedanken uns ausdrücklich bei Fabian Witt für die ständige Erreichbarkeit und sofortige Umsetzung – auch über die Weihnachtsfeiertage."</span><span style="color: #ffffff;"><br /><br /></span></em></p>
</blockquote>
<div>
<p class="expanded-text grey-text text-grey text-small" style="text-align: center;"><span style="color: #ffffff;">DANIEL SCHIRMER</span><span class="text-red" style="color: #ffffff;"><br />BRK KREISVERBAND HAßBERGE<br /><br /></span></p>
</div>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;&nbsp;</p>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<table border="0" class="adaptive fixed-size" style="width: 88%; margin-left: auto; margin-right: auto;" cellpadding="40">
<tbody class="font-bold">
<tr>
<td style="text-align: center;">SIEMENS</td>
<td>
<p style="text-align: center;"><strong>Koenig &amp; Bauer&nbsp;<br /></strong><strong>Coding</strong></p>
</td>
<td style="text-align: center;"><strong>&nbsp;Bundesagentur&nbsp;<br /></strong><strong>für Arbeit</strong></td>
<td style="text-align: center;"><strong>TeamBank</strong></td>
</tr>
<tr>
<td style="text-align: center;">adidas</td>
<td style="text-align: center;"><strong>DIEHL Metering</strong></td>
<td style="text-align: center;"><strong>ING</strong></td>
<td style="text-align: center;"><strong>CGM FISCHER</strong></td>
</tr>
<tr>
<td style="text-align: center;">Nordson DAGE</td>
<td style="text-align: center;"><strong>numares HEALTH<br /></strong></td>
<td style="text-align: center;"><strong>Paessler</strong></td>
<td style="text-align: center;"><strong>&nbsp;kicker</strong></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;{loadmoduleid 102}</p>
