@{
    ViewData["Title"] = "Home Page";
}

<p>&nbsp;</p>
<div>
<h1 class="width-75 fix-padding-left" style="text-align: left;">When your ideas meet our experience, digital transformation occurs.</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="mailto:info@google.de" class="fix-padding-left"><img src="~/image/icons/arrow-right-red.svg" alt="kontakt" width="25" height="25" class="text-red" />Contact us!</a></p>
</div>
<div>&nbsp;</div>
<div>{loadmoduleid 94}</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="sppb-column-addons">
<h2 style="text-align: center;">What we do</h2>
<div class="horisontally-center block-center width-75" style="text-align: center;">We design and implement digital solutions and help you get the most out of your ideas. Whether in the area of enterprise software, app development, embedded systems, design or data science - we have the knowledge for your project success.</div>
</div>
<p>&nbsp;</p>
<table border="0" class="working-process table adaptive internal-borders fixed-size" style="width: 99%; margin-left: auto; margin-right: auto;" cellpadding="20">
<tbody>
<tr>
<td><span class="red-text expanded-text text-red">ANALYSIS AND CONCEPT</span>
<h3>We create the basis for a successful project - classic or agile.</h3>
</td>
<td><span class="red-text expanded-text text-red">DEVELOPMENT</span>
<h3>We combine knowledge and experience to implement your idea.</h3>
</td>
<td><span class="red-text expanded-text text-red">QUALITY ASSURANCE</span>
<h3>We ensure quality throughout the development process.</h3>
</td>
</tr>
<tr>
<td><span class="expanded-text red-text text-red">PROJECT MANAGEMENT</span>
<h3>We create a framework in which diverse teams can successfully implement your project.</h3>
</td>
<td><span class="expanded-text red-text text-red">TECHNOLOGY CONSULTING</span>
<h3>We find the right tool for every task.</h3>
</td>
<td><span class="expanded-text red-text text-red">TRAINING &amp; COACHING</span>
<h3>We pass on what we have learned in over twenty years.</h3>
</td>
</tr>
</tbody>
</table>
<h2>&nbsp;</h2>
<h2 style="text-align: center;">Our customers</h2>
<div class="width-85 block-center">
<p>&nbsp;</p>
<table class="adaptive m-rotator full-width" style="width: 100%; margin-left: auto; margin-right: auto;">
<tbody class="back-dark">
<tr>
<td class="standard-padding">
<blockquote>
<p style="text-align: center;"><em><span style="color: #ffffff;">„We value MAaa as a reliable and consistent partner who supports us in two areas in particular: Firstly, in scaling our own teams with external, excellently qualified software developers. On the other hand, through competent support and know-how in all aspects of the entire software development process.”</span></em></p>
</blockquote>
<div>
<p class="expanded-text grey-text text-grey text-small" style="text-align: center;"><span style="color: #ffffff;">DANI</span><span class="text-red" style="color: #ffffff;"><br />OLYMPIA <br /><br /></span></p>
</div>
</td>
</tr>
<tr>
<td class="standard-padding">

<div>
<p class="expanded-text grey-text text-grey text-small" style="text-align: center;"><span style="color: #ffffff;">DANIEL</span><span class="text-red" style="color: #ffffff;"><br />BRK <br /><br /></span></p>
</div>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;&nbsp;</p>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<table border="0" class="adaptive fixed-size" style="width: 88%; margin-left: auto; margin-right: auto;" cellpadding="40">
<tbody class="font-bold">
<tr>
<td style="text-align: center;">SIEMENS</td>
<td>
<p style="text-align: center;"><strong>Koenig &amp; Bauer&nbsp;<br /></strong><strong>Coding</strong></p>
</td>
<td style="text-align: center;"><strong>&nbsp;Bundesagentur&nbsp;<br /></strong><strong>für Arbeit</strong></td>
<td style="text-align: center;"><strong>TeamBank</strong></td>
</tr>
<tr>
<td style="text-align: center;">adidas</td>
<td style="text-align: center;"><strong>DIEHL Metering</strong></td>
<td style="text-align: center;"><strong>ING</strong></td>
<td style="text-align: center;"><strong>CGM FISCHER</strong></td>
</tr>
<tr>
<td style="text-align: center;">Nordson DAGE</td>
<td style="text-align: center;"><strong>numares HEALTH<br /></strong></td>
<td style="text-align: center;"><strong>Paessler</strong></td>
<td style="text-align: center;"><strong>&nbsp;kicker</strong></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;{loadmoduleid 102}</p>
