@model List<our_site_asp_net.Models.EmployeProfile>


    <h1 style="text-align: center;">Our Team</h1>
    @if(Model != null){
         <ul>
                @foreach(var profile in Model){

                    <li>@profile.employeName</li>
            
                    <li>@profile.position</li>
                    <li>@profile.schwerpunkte</li>
                    <li>@profile.askMyanyThing</li>
                }
            </ul>  
    }
 


   